@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300&display=swap");
body {
  margin: 0;
  font-family: 'Allerta Stencil', sans-serif;
  background: linear-gradient(63deg, #364559 45%, #3C5473 55%);
  color: whitesmoke;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }
  body .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 77% 3%;
    grid-template-areas: "header header" "main main" "footer footer";
    height: 100vh;
    width: 100vw; }
    body .container header {
      background: linear-gradient(63deg, whitesmoke 45%, white 55%);
      color: #364559;
      padding: 1vh;
      grid-area: header;
      overflow: hidden; }
      body .container header h1 {
        font-size: 3em;
        height: 100%;
        width: 100%; }
    body .container main {
      grid-area: main;
      padding: 3vh; }
    body .container footer {
      font-size: x-small;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      grid-area: footer;
      background: #2B3640; }
