<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/static/main/index.css">
    <title>teste de cors&reg;</title>
</head>
<body>
    <div class="container">
        <header>
           <h1>Cors Policy Simple Crud&reg;</h1>
        </header>
        <main>
            <div class="msg-container">
               <table class="table">
                <tbody>
                    <tr >
                        <td ><ul id="id"></ul></td>
                        <td ><ul id="msg"></ul></td>
                    </tr>
                </tbody>
               </table>
            </div>
        </main>
        <footer>
            &copy;2020 Cors Policy simple crud have all rights reserved. 
        </footer>
    </div>

    <script src="http://localhost:8080/static/main/index.js"></script>
</body>
</html>