<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://client-app-simple.herokuapp.com/static/main/index.css">
    <title>teste de cors&reg;</title>
</head>
<body>
    <div class="container">
        <header>
           <h1>Cors Policy simple crud&reg;</h1>
        </header>
        <main>
            area de info
        </main>
        <footer>
            &copy;2020 Cors Policy simple crud have all rights reserved. 
        </footer>
    </div>

    <script src="https://client-app-simple.herokuapp.com/static/main/index.js"></script>
</body>
</html>