<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8080/static/options/index.css">
    <title>teste de cors&reg;</title>
</head>
<body>
    <div class="container">
        <h1><a href="http://192.168.56.1:8080">Cors Policy Simple Crud&reg;</a></h1>

        <div class="container-div">
            <div class="input-group input-group-lg" id="container-id">
                <span class="input-group-text" id="inputGroup-sizing-lg">Id</span>
                <input type="number" id="id" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
    
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Message</span>
                <input type="text" id="msg" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="obter">obter</button> 
        <button type="button" class="btn btn-success" id="atualizar">atualizar</button> 
        <button type="button" class="btn btn-danger"  id="deletar">deletar</button> 

        &copy;2020 Cors Policy simple crud have all rights reserved. 
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="http://localhost:8080/static/options/index.js"></script>
</body>
</html>