@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  margin: 0;
  font-family: 'Allerta Stencil', sans-serif;
  background: linear-gradient(63deg, #364559 45%, #3C5473 55%);
  color: whitesmoke;
  overflow: hidden;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw; }
  body .container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .container h1, body .container div {
      margin-bottom: 5vh; }
    body .container button {
      margin-bottom: 10vh; }
